.ContentEditor {
    background-color: #fff;
    padding: 20px;

    &-header {
        border-bottom: 1px dashed #000000;
    }

    &-body {
        margin: 10px 0;
        padding-bottom: 24px;
    }

    &-edit-btn {
        margin: 10px 0 40px 0;
        width: 160px;
    }
}